.kDq7F {
	width: 700px !important;
}

.Fq {
	margin-left: 100px !important;
}

.EyKftc {
	max-width: 700px !important;
}

/**
 * Hide "You might like this" and "Trending" boxes
 */
.Om,
.qcY0Mc {
	display: none !important;
}

/**
 * Allow post comments to expand fully. Fuck Scrollbars.
 */
.CLSMk {
	max-height: 400px;
}
