.L9ru2b {
	display:none !important;
}
.gC .ncGWdc .Te, .gC .ncGWdc .iH {
	width: 60% !important;
/*	margin: 20px auto !important; */
}
.ncGWdc {
	width: 100% !important;
}
.SG {
	width: 100% !important;
}

.UBQ2Je {
	display: none !important;
}
.VepHtd {
	background-color: none !important;
}
.r4gluf {
	margin-left: auto !important;
	margin-right: auto !important;
}
.HWkrRb {
	width: 100% !important;
}
